/*
 * ==============================================
 * Skin for oXygen generated WebHelp.
 * ==============================================
 */


/*
 * ------------------------------------------------------------------
 *  
 * Fonts.
 *  
 */
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic);
body{
    font-family: 'Lato', sans-serif;
}

/*
 * ------------------------------------------------------------------
 *  
 * Fight bootstrap
 *  
 */
.navbar{
    background: none;
    border: none;
    margin: 0;
    box-shadow: none;
}
a,
a:hover,
a:visited{
    color:#99cc00;
}
a:hover{
    text-decoration: none;
}

/*
 * ------------------------------------------------------------------
 *  
 * Publication titles
 *  
 */
.wh_publication_title > a{
    color: black;
    font-size: 1.7em;
    font-weight: 900;
}


/*
 * ------------------------------------------------------------------
 *  
 * Menu
 *  
 */
.wh_top_menu{
    font-weight:bold;
}
/* Labels in main bar */
.wh_top_menu > ul > li > span > a{
    font-weight:900;

}

.wh_top_menu ul li a{
    background-color:white;
}
.wh_top_menu a{
    color: #333;
    text-transform:lowercase;
    font-variant:small-caps;
}
.wh_top_menu a:hover{
    color: #99cc00;
}
.wh_top_menu ul ul li a:hover {
    background: white;
}
.wh_top_menu ul li:hover {
    background-color: red;
}
/* The submenus */
.wh_top_menu ul ul{
    background-color: white;
    border: 1px solid #999;    
}
.wh_top_menu ul ul li{
    border: none;
    background-color:white;
}

/*
 * ------------------------------------------------------------------
 *  
 * Link to the index.
 * 
 */
 .wh_indexterms_link a span{
    display:none;
}

/*
 * ------------------------------------------------------------------
 *  
 * Breadcrumb
 *  
 */
/*Hide the home icon and the separator */
.wh_breadcrumb .home{
    display:none;
}
.wh_breadcrumb li:first-of-type:after{
    display:none;
}
.wh_breadcrumb li:not(:last-of-type):after{
    content: ' > ';
}
.wh_breadcrumb .active > span{
    font-weight: bold;
    color: #99cc00;
}
.wh_breadcrumb a{
    color: #666;
    font-weight:normal;
}

/*
 * ------------------------------------------------------------------
 *  
 * Tools and navigation
 * 
 */
.wh_tools{
    border-bottom:1px solid silver;
    margin-bottom:0.5em;
}
 
.wh_print_link,
.wh_navigation_links,
.wh_navigation_links .navnext,
.wh_navigation_links .navprev{
}

/*
 * ------------------------------------------------------------------
 *  
 * Tiles
 * 
 */
.wh_tile {
    border-radius: .5em;
    border:0.2em solid #99cc00;
}
.wh_tile_title{
    text-align: center;
    font-weight: 700;
    text-decoration: none;
}
.wh_tile_shortdesc{
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .wh_tile > div{
        height: auto;
    }
}
/* Make the link from the tile the entire width 
    TODO - dan - move to wh_default.css
*/
.wh_tile_title span{
    display: block;
    width: 100%;
}
.wh_tile_title a{
    display: block;
    width: 100%;
    color: #000000;
}

.wh_tiles{
    margin: 20px 0;
}
/* 
You can style some of the tiles in a special way. 
Example:
.wh_tiles *[data-id='getting_started']{
    background-color:gray;
}
*/


/*
 * ------------------------------------------------------------------
 *  
 * Search area
 * 
 */

#searchForm > div {
}
.wh_welcome:not(:empty){
    font-size: 2.5em;
    margin: 0 auto;
    padding: 0 0 .5em 0;
    text-shadow: 0 0 8px #ffffff;
    color:black;
}
/* Style differently the search from the main pahge (index.html), make it larger.*/
.wh_search_input{
    display: block;
    padding: 4em;
    margin: 0;
    background: url('resources/green_bgr.jpg') no-repeat;
    background-size: cover;
    box-shadow: 0px 7px 21px -12px rgba(0, 0, 0, 0.3);
}
.wh_search_textfield{
    background-color: #fff;
    padding: 0.3em;
    border:1px solid #86bd5d;
    border-radius: .5em;
}
.wh_search_button{
    color:white;
    background-color: #86bd5d;
    border-radius: 0 .5em .5em 0;
}

/* Render search area for devices smaller than 767px */
@media only screen and (max-width: 767px) {
    .wh_search_input{
        padding: 2em;
    }
}
/*
 * ------------------------------------------------------------------
 *  
 * Side TOC
 * 
 */
.wh_side_toc a {
    color:#666;
}
.wh_side_toc{
    margin: 2em;
    padding: 1em;
    border-radius: .5em;    
    border:0.2em solid #99cc00;

    font-size: 0.95em;
}
.wh_side_toc > ul{
    list-style-type: none;
    padding-left: 0.5em;
}
.wh_side_toc li{
    margin-top: 0.5em;
}
.wh_side_toc .active > span{
    font-weight: bold;
    color: black;
}

/* A kind of progress, mark the active item with a symbol overlapping a bar */
.wh_side_toc > ul {
    border-left: 2px solid #99cc00;
    margin-left: 1em; 
    padding-left:1.5em; /* leave space for the leaf symbol */
    position:relative;
}

.wh_side_toc .active:before{
    content: "\e103"; /* the leaf symbol */
    font-weight: bold;
    font-family:"Glyphicons Halflings";
    color: #99cc00;
    display:block;
    position:absolute;
    left:-1px;
}

/*
 * ------------------------------------------------------------------
 *  
 * Footer
 * 
 */
.wh_footer{
    font-size:smaller;
    text-align: center;
    padding: 2em;
    border-top: solid 1px #99cc00;
}

/*
 * ------------------------------------------------------------------
 *  
 * Topic content
 * 
 */
.wh_topic_content{
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.6em;
}

.wh_topic_content li{
    margin: 0.5em;
}
.wh_topic_content .ullinks{
    list-style-type: disc;
}



/*
 * ------------------------------------------------------------------
 *  
 * Search results.
 * 
 */
.wh_search_expression{
    font-weight: bold;
}
.wh_search_expression:before,
.wh_search_expression:after{
    content: '"';
}
.searchresult{
    list-style-type: decimal;
}
.searchresult li{
    margin-bottom: 1em;
}
.searchresult li a{
    font-weight: bold;
}


/*
 * ------------------------------------------------------------------
 *  
 * Index terms.
 * 
 */
.wh_index_terms {
}


/*
 * ------------------------------------------------------------------
 *  
 * Tree TOC for the main page.
 * 
 */
.wh_main_page_toc{
    border-radius:0.6em;
}
.wh_main_page_toc .wh_main_page_toc_entry a{
    color:black;
}

/* Colors */
.wh_main_page_toc{
    margin-top: 2em;
    border: none;
}
.wh_main_page_toc .wh_main_page_toc_accordion_header, 
.wh_main_page_toc>.wh_main_page_toc_entry {
    border-bottom: none;
}
.wh_main_page_toc_accordion_entries{
    background-color: #eee;
}
.wh_main_page_toc .expanded {
    background-color: #eee;
}
.wh_main_page_toc .wh_main_page_toc_accordion_header:hover, 
.wh_main_page_toc>.wh_main_page_toc_entry:hover{
    background-color: #eee;
}
.wh_main_page_toc_accordion_entries {
    border-bottom:2px solid #99cc00;
}
.wh_main_page_toc a{
    color:black;
}





