/*
 * ==============================================
 * Skin for oXygen generated WebHelp.
 * ==============================================
 */
/*
 * ------------------------------------------------------------------
 *  
 * Fonts.
 *  
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
body {
  font-family: "Roboto", sans-serif;
}
/*
 * ------------------------------------------------------------------
 *  
 * Fight with bootstrap
 *  
 */
.navbar-brand {
  height: auto;
}
.navbar {
  background-color: #ffffff;
  background-image: none;
  border: none;
  border-radius: 0;
  margin: 0;
  box-shadow: none;
}
a,
a:hover,
a:visited {
  color: #01cafe;
}
a:hover {
  text-decoration: none;
}
/*
 * ------------------------------------------------------------------
 *  
 * Publication titles
 *  
 */
.wh_publication_title > a {
  color: #028eb2;
  font-size: 1.2em;
  line-height: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
/*
 * ------------------------------------------------------------------
 *  
 * Menu
 *  
 */
.wh_top_menu {
  font-size: 1em;
  margin: .4em 0;
}
.wh_top_menu ul {
  background-color: #ffffff;
}
.wh_top_menu ul a {
  color: #028eb2;
  text-transform: uppercase;
}
/*!* First level menus*!
.wh_top_menu > ul > li > span > a {
  font-weight: bold;
}*/
/* The submenus */
.wh_top_menu ul ul {
  background-color: #028eb2;
}
@media only screen and (min-width: 768px) {
  .wh_top_menu ul li a {
    padding: 0.8em;
  }
  /* Menu bar */
  .wh_top_menu ul li:hover a {
    background-color: #028eb2;
    color: #ffffff;
  }
  /* Sub menus */
  .wh_top_menu ul ul li {
    background-color: #028eb2;
    border-color: #fffff ff;
    border: none;
  }
  .wh_top_menu ul li:hover ul a {
    color: #cccccc;
    transition: background-color 0.25s ease-out 0s, color 0.3s ease-out 0s;
  }
  .wh_top_menu ul ul li a:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.08);
    transition: background-color 0.25s ease-in 0s, color 0.3s ease-in 0s;
  }
  .wh_top_menu ul ul li.has-children:after {
    color: #cccccc;
  }
}
@media only screen and (max-width: 767px) {
  .wh_top_menu li.active a {
    color: #ffffff;
  }
  .wh_top_menu li.active {
    background-color: #028eb2;
  }
  .wh_top_menu li.active > span > a {
    background-color: rgba(0, 0, 0, 0.07);
  }
  .wh_toggle_button.navbar-toggle,
  .wh_toggle_button.navbar-toggle:focus {
    border: none;
    border-color: #ffffff;
    background-color: #01cafe;
  }
  .wh_toggle_button.navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .wh_top_menu ul ul li {
    border: none;
  }
}
/*
 * ------------------------------------------------------------------
 *  
 * Link to the index.
 * 
 */
.wh_indexterms_link a:before {
  color: #028eb2;
  font-size: 1.5em;
}
.wh_indexterms_link a span {
  display: none;
}
@media only screen and (max-width: 767px) {
  .wh_indexterms_link a:before {
    bottom: 0;
  }
}
/*
 * ------------------------------------------------------------------
 *  
 * Breadcrumb
 *  
 */
.wh_breadcrumb ol,
.wh_breadcrumb ol a {
  color: #01cafe;
  font-size: 1em;
}
.wh_breadcrumb ol .active {
  color: #ffffff;
}
/*
 * ------------------------------------------------------------------
 *  
 * Tools and navigation
 * 
 */
.wh_tools {
  border: solid 1px rgba(255, 255, 255, 0.9);
  background-color: #17303C;
  margin: 2em 1em;
  font-size: 1em;
}
.wh_print_link a,
.wh_navigation_links a,
.wh_navigation_links a:hover,
.wh_navigation_links a:active,
.wh_navigation_links a:visited,
.wh_print_link a:before,
.wh_navigation_links a:before,
.wh_navigation_links a:hover:before,
.wh_navigation_links a:active:before,
.wh_navigation_links a:visited:before {
  color: #01cafe;
  text-decoration: none;
}
.wh_right_tools {
  padding: 8px 15px;
}
/*
 * ------------------------------------------------------------------
 *  
 * Tiles
 * 
 */
.wh_tile {
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.25);
}
.wh_tile_shortdesc {
  color: #01cafe;
  font-weight: 400;
  font-size: 1em;
  margin-top: 0.5em;
  text-align: justify;
}
.wh_tile_title {
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
.wh_tile_title a {
  text-align: left;
  color: #ffffff !important;
  font-size: 1.4em;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .wh_tile > div {
    height: auto;
  }
}
/*
 * ------------------------------------------------------------------
 *
 * Tree TOC for the main page.
 *
 */
.wh_main_page_toc {
  border: none;
  background-color: rgba(0, 0, 0, 0.25);
}
.wh_main_page_toc .topicref a {
  color: #ffffff;
}
.wh_main_page_toc .wh_main_page_toc_accordion_header:hover,
.wh_main_page_toc > .wh_main_page_toc_entry:hover {
  background-color: #028eb2;
  color: #ffffff;
}
.wh_main_page_toc_accordion_header:hover > .wh_toc_shortdesc,
.wh_main_page_toc_entry:hover > .wh_toc_shortdesc {
  background-color: #028eb2;
  color: #ffffff;
}
.wh_main_page_toc .wh_main_page_toc_accordion_header:hover a,
.wh_main_page_toc > .wh_main_page_toc_entry:hover a {
  color: #ffffff;
}
.wh_main_page_toc_accordion_header:hover:before {
  color: #ffffff;
}
.wh_main_page_toc .wh_main_page_toc_accordion_header,
.wh_main_page_toc > .wh_main_page_toc_entry,
.wh_main_page_toc_accordion_entries {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  background-color: transparent;
  text-align: left;
}
.wh_main_page_toc .wh_toc_shortdesc {
  color: #01cafe;
}
.wh_main_page_toc_accordion_header:before {
  color: #ffffff;
}
.wh_main_page_toc .expanded {
  border: none;
}
/* ---------------------------------   */
.wh_main_page .wh_content_area {
  background-image: linear-gradient(rgba(23, 48, 60, 0.8), rgba(23, 48, 60, 0.8)), url("resources/images/hightech.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  padding: 4em 0 2em 0;
  color: #ffffff;
  text-align: center;
  align-items: center;
}
/*
You can style some of the tiles in a special way. 
Example:
.wh_tiles *[data-id='getting_started']{
    background-color:gray;
}
*/
/*
 * ------------------------------------------------------------------
 *  
 * Search area
 * 
 */
.wh_search_input {
  background-image: url("resources/images/hightech.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  padding: 4em 0 4em 0;
  margin: 0;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
.wh_main_page_search {
  height: calc(50vh - 50px);
  min-height: 20em;
  padding-top: calc((50vh - 50px)/2 - 1em);
}
.wh_main_page .wh_search_textfield,
.wh_main_page .wh_search_button {
  height: 2em;
  font-size: 2em;
}
.wh_search_textfield,
.wh_search_button {
  border: solid 1px rgba(255, 255, 255, 0.9);
  color: #ffffff;
  background-color: rgba(23, 48, 60, 0.8);
  padding: 0 .4em;
  height: 1.5em;
  font-size: 1.5em;
  /* Override the RTL rule. */
  border-radius: 0 !important;
}
/* Do not allow the text to go beneath the search button  */
@media only screen and (min-width: 768px) {
  .wh_search_textfield {
    padding-right: 3em;
  }
}
.wh_search_button:after {
  color: #ffffff;
}
.wh_search_button:hover {
  background-color: rgba(2, 142, 178, 0.2) /*rgba(255, 255, 255, 0.1)*/;
}
/* Search field placeholder */
::-webkit-input-placeholder {
  color: #ffffff;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
:-ms-input-placeholder {
  color: #ffffff;
}
/* Change Autocomplete styles in Chrome */
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  border: 1px solid rgba(255, 255, 255, 0.9);
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
/*
 * ------------------------------------------------------------------
 *  
 * Side TOC
 * 
 */
#wh_side_toc {
  background-color: #17303C;
}
.wh_side_toc {
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: #17303C;
  padding: 1em;
  line-height: 2em;
  margin-left: 2em;
}
.wh_side_toc > ul {
  padding-left: 0;
}
.wh_side_toc .active > span {
  color: #ffffff;
  text-decoration: underline;
}
.wh_side_toc a,
.wh_side_toc a:visited,
.wh_side_toc a:hover {
  color: #01cafe;
}
.wh_side_toc a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 767px) {
  .wh_side_toc {
    padding: 1em;
    margin-left: 0;
    margin-bottom: 1em;
  }
}
/*
 * ------------------------------------------------------------------
 *  
 * Footer
 * 
 */
.wh_footer {
  background-color: #17303C;
  background-size: cover;
  padding: 4em 0em;
  color: #ffffff;
  text-align: center;
  align-items: center;
}
.wh_footer a {
  color: #01cafe;
}
/*
 * ------------------------------------------------------------------
 *  
 * Topic content
 * 
 */
/*
 * Title & subtitles
 */
.topictitle1 {
  color: #01cafe;
  font-weight: normal;
}
.topictitle2,
.topictitle3,
.topictitle4,
.topictitle5,
.topictitle6 {
  color: #99eaff;
  border-left: solid 1px #01cafe;
  padding-left: .5em;
}
/*
 * Other content
 */
.wh_topic_page {
  background-color: #17303C;
}
.wh_topic_content p,
.wh_topic_content .p {
  margin-top: .5em;
}
.wh_topic_content .shortdesc {
  font-style: italic;
}
.wh_topic_content,
.wh_content_area {
  color: #ffffff;
  font-size: 1em;
}
/* Related links */
.wh_related_links .related-links,
.wh_topic_content .related-links,
.wh_child_links {
  margin: 1em 0;
  background-color: #17303C;
  border: rgba(255, 255, 255, 0.9) solid 1px;
  padding: 0 1em;
}
.wh_child_links {
  padding: 1em;
}
.wh_topic_content .related-links {
  font-size: .91em;
}
/*
 * ------------------------------------------------------------------
 *  
 * Search results.
 * 
 */
.wh_search_page {
  background-color: #17303C;
}
.searchresult {
  list-style: none;
}
.searchresult li {
  padding: .5em;
}
.searchresult li a {
  color: #01cafe;
}
.wh_search_expression {
  color: #028eb2;
}
.searchresult .shortdesclink {
  margin: .3em .5em 0;
}
.wh_search_expression {
  font-weight: bold;
}
/* Highlights */
.highlight {
  background-color: #028eb2;
  color: #ffffff;
}
/* Index terms */
.wh_terms_page {
  background-color: #17303C;
}
.wh_term_group {
  border: 1px solid rgba(255, 255, 255, 0.9);
  margin: 1em 0;
  padding: 1em;
}
.wh_term > span {
  color: #ffffff;
  font-style: italic;
}
.wh_index_terms span.wh_first_letter {
  color: #01cafe;
  border: none;
  font-size: 1.5em;
  margin: 0;
}
.wh_index_terms #indexList {
  padding: 0;
}
